body{

margin:0;
font-family:Arial;
color:white;
text-align:center;

background:url("fondo.gif") center/cover fixed;

}

.login-card{

margin-top:200px;

background:rgba(0,0,0,0.8);

padding:50px;

border-radius:20px;

width:400px;

margin-left:auto;
margin-right:auto;

box-shadow:0 0 40px purple;

}

.discord-btn{

display:inline-block;

margin-top:20px;

padding:15px 40px;

background:linear-gradient(45deg,#6a00ff,#c400ff);

border-radius:10px;

text-decoration:none;

color:white;

font-weight:bold;

}

.form-card{

width:650px;

margin:auto;

margin-top:60px;

padding:40px;

background:rgba(0,0,0,0.75);

border-radius:20px;

box-shadow:0 0 40px purple;

}

.requisitos{

background:rgba(20,0,40,0.8);

padding:20px;

border-radius:12px;

margin-bottom:30px;

border:1px solid #7a3cff;

}

.requisitos h3{

margin-top:0;
color:#c084ff;

}

.requisitos ul{

list-style:none;
padding:0;

}

.requisitos li{

padding:6px;

}

input,textarea{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:20px;

border-radius:10px;

border:none;

background:#111;
color:white;

}

textarea{

min-height:120px;

}

button{

padding:12px 30px;

background:#8b3dff;

border:none;

border-radius:10px;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#a855f7;

}

.progress{

background:#222;

height:10px;

border-radius:10px;

margin-bottom:20px;

}

#progress-bar{

height:10px;

width:0;

background:#b14cff;

border-radius:10px;

transition:0.4s;

}

#avatar{

width:90px;

border-radius:50%;

margin-bottom:10px;

}