body{

margin:0;
font-family:Arial;
color:white;
text-align:center;

background:url("fondo.gif") center/cover fixed;

}

.login-card,.form-card,.panel{

background:rgba(0,0,0,0.7);

padding:40px;

margin:auto;

margin-top:100px;

width:600px;

border-radius:20px;

box-shadow:0 0 40px purple;

}

.discord-btn{

display:inline-block;

padding:15px 40px;

background:linear-gradient(45deg,#6a00ff,#c400ff);

border-radius:10px;

text-decoration:none;

color:white;

font-weight:bold;

}

input,textarea{

width:100%;

padding:10px;

margin-top:10px;

margin-bottom:20px;

border-radius:10px;

border:none;

}

button{

padding:12px 30px;

background:#8b3dff;

border:none;

border-radius:10px;

color:white;

}

.progress{

background:#222;

height:10px;

border-radius:10px;

margin-bottom:20px;

}

#progress-bar{

height:10px;

width:0;

background:#b14cff;

border-radius:10px;

transition:0.4s;

}

#avatar{

width:90px;

border-radius:50%;

margin-bottom:10px;

}

.app{

background:#111;

padding:20px;

margin-top:20px;

border-radius:10px;

}